<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milks</li>
      <li>Sugar</li>
      <li>Cake</li>
      <li>Water</li>
      <li>Ice</li>
      <li>Tomatoes</li>
      <li>Fruit</li>
      <li>Tooth Paste</li>
    </ul>
  </body>
</html>
