<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milks</li>
      <li>Sugar</li>
      <li>Cake</li>
      <li>Water</li>
      <li>Ice</li>
    </ul>
  </body>
</html>
